<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>ReptileRecollection</title>
        <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
        <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
        <link rel="shortcut icon" href="/assets/img/favicon.png"/>
        <link
              rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous"
              />

        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    </head>
    <body>
        <section id="navbar"></section>
<!--
        <nav><a href="/login"><img id="logo" src="/assets/img/iguana.jpg" alt="face logo"/></a>
            <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
            <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
        </nav>
-->
        <section id="content"></section>
        <div id="reptileMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
            <h3><span id="errorMessage">Wrong username or password</span></h3><img id="reptile" src="assets/img/iguana.jpg" alt="reptile"/>
        </div>
        <script src="/assets/loginBundle.js"></script>
    </body>
    <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin> </script>
    <script
            src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"
            crossorigin
            >
    </script>
    <script
            src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
            crossorigin
            >
    </script>
</html>