html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #6f7c85;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #58641d;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.nav-link {
    color: #FFFFFF;
    font-size: 1.3em;
}

.nav-link:hover {
    color: #7b904b
}

.btn-primary {
    color: #fff;
    background-color: #273b09;
    border-color: #273b09;
}

.btn-primary:hover {
    color: #fff;
    background-color: #7b904b;
    border-color: #7b904b;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
    font-size: 1.3em;
}

.navbar-brand:hover {
    color: #7b904b;
}

.card-header {
    color: white;
}

label {
    margin-bottom: 0;
    color: white;
}

.nav-link a, .nav-link a:link, .nav-link a:visited, .nav-link a:hover, .nav-link a:active {
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    background-color: #58641d;
    transition: background-color 0.4s ease;
}

.nav-link a:hover {
    transition: background-color 0.8s ease;
    background-color: #6f7c85;
}

/*
.reptileForm {
    border: 2px solid #6f7c85;
    height: 30%;
    width: 70%;
    margin-top:0px;
    padding-top:10px;
    background-color: #58641d;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.reptileForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: #FFFFFF;
}

.reptileForm input[type=text] {
    float:left;
}

.makeReptileSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #58641d;
    border-radius: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.makeReptileSubmit:link, .makeReptileSubmit:visited, .makeReptileSubmit:hover, .makeReptileSubmit:active {
    color: #FFFFFF;
}

.makeReptileSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #6f7c85;
}
*/

#logoutButton {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #58641d;
    transition: background-color 0.4s ease;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #58641d;
    border-radius: 2px;
    border-color: #FFFFFF;
    padding: 3px 0px;
    color: #FFFFFF;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: #FFFFFF;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #6f7c85;
}

.reptileList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#content2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reptileForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid #6f7c85;
    background-color: #58641d;
    margin-block-end: 1em;
    margin-block-start: 1em;
}

#makeReptileSubmit {
    height: 50%;
}

.form-group {
    margin-right: 5px;
    margin-left: 5px;
}

#makeReptile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#reptileButton {
    display: flex;
    flex-direction: column-reverse;
}

.card {
    min-width: 20em;
    max-width: 20em;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #58641d;
}

#reptileMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#reptileMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#adspace {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#removeAdsButton {
    margin-left: auto;
}

#reptile {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

#reptiles {
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.reptile {
    width: 45%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #58641d;
    border-radius: 4px;
    background-color: #58641d;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.reptile:hover {
    transition: border-color 0.2s ease-out;
    border-color: #6f7c85;
    transition: background-color 2.6s ease-out;
    background-color: #575757;
}

img.reptileFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyReptile {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.reptileName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.reptileAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.reptileDescription {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.reptile:first-child {
    margin-top: 10px;
}

.reptile:last-child {
    margin-bottom:10px;
}